*{
    width: 100%;
}

body{
    background-color: #8a2b8a;
}

header{
    display: block;
    margin: auto;  
    align-content: center;
    padding: 2%;
}

header img{
    display: block;
    margin: auto;
    width: 30%;
}

